section#tweets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  height: 11em;
  background: white;
  border: solid 3px #545149;
  min-width: 80vw;
  max-width: 90vw;
}


article:hover {
  box-shadow: 5px 10px #545149;
}

hr {
  width: 95%;
  height: 2px;
  background-color: #545149;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
}

.tweet-display-name {
  display: flex;
}

.username {
  padding-right: 1em;
  color: lightgray;
  font-weight: 100;
}

.other-profile-pic {
  height: 60px;
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 0.5em;
}

.tweet-padding {
  padding-left: 1em;
  padding-right: 1em;
}

.icons-style {
  display: flex;
  padding-right: 1em;
  align-items: center;
}

.icon-style {
  padding-left:0.5em;
  padding-right:0.5em;
}

.fa-solid.fa-hover-hidden {
  color: #4056A1;
}
.fa-solid.fa-hover-show {
  color: #e6b7fd;
}

* > .fa-solid.fa-hover-show,
*:hover > .fa-solid.fa-hover-hidden {
    display: none;
}

*:hover > .fa-solid.fa-hover-show {
    display: inline-block;
}

@media only screen and (min-width: 1024px) {
  .tweet {
    min-width: 50vw;
    max-width: 55vw;
  }


}